---
import Layout from "../layouts/Layout.astro";

import FormContact from "../components/FormContact.astro";
import Ecommerce from "../components/Ecommerce.astro";
---

<Layout title="Welcome to Astrolus.">
    <main class="space-y-40 mb-40 pt-40">
        <Ecommerce />
        <FormContact />
    </main>
</Layout>
  