---
import Container from "./Container.astro";
---

<div
  class="pb-16 bg-gradient-to-r from-wild-strawberry-700 via-wild-strawberry-600 to-wild-strawberry-900"
>
  <Container>
    <div class="">
      <div class="flex items-center justify-center">
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/abwrkdvl.json"
          trigger="loop"
          delay="300"
          style="width:200px;height:250px"
          colors="primary:#121331,secondary:#ffffff"
        >
        </lord-icon>
      </div>
      <div class="m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1
          class="text-center text-3xl lg:text-4xl font-bold text-[#ffffff] md:text-5xl"
        >
          ¿Qué esperas para aumentar tus clientes?
        </h1>
        <p class="text-center text-lg lg:text-xl text-black font-semibold">
          No dudes en contactarnos para hacer crecer tu imagen en la web
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          <a
            href="#"
            class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-white before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-black dark:text-dark"
              >Contactar</span
            >
          </a>
          <a
            href="#"
            class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-zinc-900 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-900 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-050B30 dark:text-white"
              >Saber más</span
            >
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
