---
interface Props {
  title: string;
  text: string;
  position: number;
  //Icon:
  src: string;
  state: string;
}

const { title, text, src, state, delay, position } = Astro.props;
---

<div
  class=`${position === 0 ? "border-t-2 border-l-2 border-l-primary border-t-primary" : ""} 
         ${position === 5 ? "border-b-2 border-r-2 border-b-primary border-r-primary" : ""}
  border text-center p-8 h-64 text-white rounded-3xl  
  border-gray-700 bg-[#070917] bg-opacity-50 hover:bg-opacity-80 ease-in-out transition-all duration-300 cursor-default`
>
  <lord-icon
    src={src}
    trigger="loop"
    state={state}
    delay="600"
    colors="primary:#FF0694,secondary:#FF0694"
    style="width:150px; height:70px"
  >
  </lord-icon>
  <h4 class="text-xl font-extrabold mb-2 text-title">{title}</h4>
  <p class="text-sm font-semibold text-text">{text}</p>
</div>

<script src="https://cdn.lordicon.com/lordicon.js"></script>
