---
interface Props {
  title: string;
  text: string;
  //Icon:
  src: string;
  state: string;
}

const { title, text, src, state, delay } = Astro.props;
---

<div
  class="text-center p-8 h-80 sm:h-96 md:h-96 lg:h-96 xl:h-80 text-white rounded-3xl border border-gray-700 bg-[#070917] bg-opacity-50 hover:bg-opacity-80 drop-shadow-2xl  ease-in-out transition-all duration-300"
>
  <lord-icon
    src={src}
    trigger="loop"
    state={state}
    delay="600"
    colors="primary:#e8308c,secondary:#e8308c"
    style="width:150px; height:70px"
  >
  </lord-icon>
  <h4 class="text-xl font-extrabold mb-2">{title}</h4>
  <p class="text-sm">{text}</p>
</div>

<script src="https://cdn.lordicon.com/lordicon.js"></script>
