---
// interface = 
---


<div>
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-[#101641] dark:from-primary dark:to-pink-900 to-blue-500"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-rose-200 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
</div>
