---
import Container from "./Container.astro";
---

<Container>
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="max-w-4xl text-center md:text-left">
      <p class="text-base font-semibold leading-7 text-primary">
        Elige tu plan
      </p>
      <h3
        class="text-4xl md:text-6xl text-center text-text font-bold md:text-left"
      >
        Tiendas Online
      </h3>
    </div>

    <div>
      <p class="max-w-5xl my-4 text-text md:mb-2">
        Puede contactarse con nosotros asi le brindamos el mejor asesoramiento y
        enviarle un presupuesto a medida sin cargo.
      </p>
      <p class="text-white mb-4 font-bold text-xs text-center md:text-left">
        *Recorda que el costo puede variar dependiendo las necesidades del
        proyecto*<span> </span>
      </p>
    </div>

    <div
      class="grid max-w-md grid-cols-1 mx-auto mt-16 isolate gap-y-8 sm:mt-14 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <!-- Card Básico -->
      <div
        class="lg:mt-8 lg:rounded-r-none flex flex-col justify-between rounded-3xl border-gray-700 bg-[#0c0f29] p-8 ring-1 ring-gray-700 xl:p-10"
      >
        <div class="">
          <div class="flex items-center justify-between gap-x-4">
            <h3 class="text-white text-2xl font-semibold">BASICO</h3>
          </div>
          <p class="mt-2 text-sm leading-6 text-gray-300">
            Tu tienda basica
          </p>
          <ul
            role="list"
            class="mt-3 space-y-3 text-sm leading-6 text-gray-600"
          >
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Diseño adaptable en telefonos.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >1 sección/pagina web
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Vinculacion con WhatsApp
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >SEO Basico
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Links a redes sociales.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Formulario de contacto
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Piezas graficas para el sitio.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Videos e imagenes optimizados
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Rendimiento Optimo para un carga rapida.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Configuración de Hosting y Dominio.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Certificado SSL
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Configuración de Hosting y Dominio.
            </li>
          </ul>
        </div>
        <a
          href="/#formcontact"
          class="m-auto mt-5 relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
        >
          <span class="relative text-base font-semibold text-white"
            >Presupuestar</span
          >
        </a>
      </div>
      <!-- Card Medium -->
      <div
        class="lg:z-10 lg:rounded-b-none flex flex-col justify-between rounded-3xl bg-white p-8 ring-2 ring-primary xl:p-10"
      >
        <div>
          <div class="flex items-center justify-between gap-x-4">
            <h3 class="text-secondary text-2xl font-semibold">MEDIUM</h3><p
              class="rounded-full bg-red-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-primary"
            >
              Más popular
            </p>
          </div><p class="mt-2 text-sm leading-6 text-gray-600">
            Plan completo para que tu negocio despegue.
          </p>
          <ul
            role="list"
            class="mt-3 space-y-3 text-sm leading-6 text-gray-600"
          >
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Diseño adaptable en telefonos.
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >1 sección/pagina web
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Vinculacion con WhatsApp
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >SEO Basico
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Links a redes sociales.
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Formulario de contacto
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Piezas graficas para el sitio.
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Videos e imagenes optimizados
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Rendimiento Optimo para un carga rapida.
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Configuración de Hosting y Dominio.
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Certificado SSL
            </li>
            <li class="flex gap-x-3 text-black font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Configuración de Hosting y Dominio.
            </li>
          </ul>
          <a
            href="/#formcontact"
            class="m-auto mt-5 relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-secondary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Presupuestar</span
            >
          </a>
        </div>
      </div>
      <!-- Card Premium -->
      <div
        class="lg:mt-8 lg:rounded-l-none flex flex-col justify-between rounded-3xl p-8 ring-1 border-gray-700 bg-[#0c0f29] ring-gray-700 xl:p-10"
      >
        <div>
          <div class="flex items-center justify-between gap-x-4">
            <h3 class="text-white text-2xl font-semibold">PREMIUM</h3>
          </div><p class="mt-2 text-sm leading-6 text-gray-300">
            Hagamos de tu negocio lo que nunca imaginaste.
          </p>
          <ul
            role="list"
            class="mt-3 space-y-3 text-sm leading-6 text-gray-600"
          >
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Diseño adaptable en telefonos.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >1 sección/pagina web
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Vinculacion con WhatsApp
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >SEO Basico
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Links a redes sociales.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Formulario de contacto
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Piezas graficas para el sitio.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Videos e imagenes optimizados
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              > Rendimiento Optimo para un carga rapida.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Configuración de Hosting y Dominio.
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Certificado SSL
            </li>
            <li class="flex gap-x-3 text-title">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="flex-none w-5 h-6 text-primary"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >Configuración de Hosting y Dominio.
            </li>
          </ul>
          <a
            href="/#formcontact"
            class="m-auto mt-5 relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Presupuestar</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</Container>