---
import Container from "./Container.astro";
import MdiEmail from "./icons/MdiEmail.astro";
import MdiInstagram from "./icons/MdiInstagram.astro";
---

<Container>
  <section id="formcontact" class="body-font relative flex">
    <div class="container px-5 mx-auto">
        <h4
          class="text-3xl title-font text-title lg:text-6xl text-center mb-3 md:mb-12 font-bold pt-7 md:pt-12"
        >
          ¡Contáctate con nosotros!
        </h4>
      <div class="flex items-end ">
        <div class="items-end justify-center lg:w-1/2 hidden lg:flex relative">
          <img class="w-[500px] relative z-10" src="/images/form.png" alt="" />
          <div class="absolute w-[500px] h-[500px] rounded-full bg-primary z-0 left-[-30px] drop-shadow-2xl"></div>
        </div>
        <div class="lg:w-1/2 mx-auto">
          <div class="flex flex-col w-full mb-6 text-center">
            <div
              class="text-left lg:w-3/3 mx-auto leading-relaxed text-base text-gray-300"
            >
            <h5 class="font-semibold text-lg text-title">Envianos tu consulta</h5>
              <p class="text-text">
                Completa el formulario y contanos sobre tu proyecto, en la
                brevedad nuestro equipo se pondrá en contacto con vos muy
                pronto.
              </p>
              <div class="bg-gray-800 w-full h-[1px] mt-2"></div>
              <p class="mt-2 font-bold text-text">
                Si lo preferis te dejamos nuestros datos de contacto para que te
                comuniques con nosotros.
              </p>
              <div class="mt-4">
                  <a class="cursor-pointer flex items-end mb-1 text-md font-bold"><MdiEmail class:list={"mr-2 text-3xl text-primary"}/>novasyncsolutions@gmail.com</a>
                  <a class="cursor-pointer flex items-end text-md font-bold"><MdiInstagram class:list={"mr-2 text-3xl text-primary"}/>@novasync.solutions</a>
                </div>
            </div>
            <div class="bg-gray-800 w-full h-[1px] mt-3"></div>
        </div>
        <div class="flex flex-wrap -m-2">
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="name" class="leading-7 text-sm text-gray-600"
                  >Nombre</label
                >
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="w-full bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
            </div>
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="email" class="leading-7 text-sm text-gray-600"
                  >Email</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="w-full bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
            </div>
            <div class="p-2 w-full">
              <div class="relative">
                <label for="message" class="leading-7 text-sm text-gray-600"
                  >Mensaje</label
                >
                <textarea
                  id="message"
                  name="message"
                  class="w-full bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                ></textarea>
              </div>
            </div>
            <a
              href="#"
              class="mt-2 relative flex h-11 w-full items-center justify-center px-10 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max mx-auto"
            >
              <span class="relative text-base font-semibold text-white"
                >Enviar</span
              >
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</Container>
