---
import Cloud from "./Cloud.astro";
import Container from "./Container.astro";
import SocialLinks from "./SocialLinks.astro";
---

<div class="relative" id="home">
  <Cloud
    positionX="-space-x-52"
    opacity="opacity-40"
    darkOpacity="dark:opacity-20"
  />
  <Container>
    <div class="relative flex pt-48 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto md:text-left md:mx-0">
        <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
        >
          Agencia de desarrollo de software
        </h1>
        <p class="mt-8 text-gray-700 dark:text-gray-300 md:w-10/12">
          Si necesitas potenciar tu marca, aumentar tu numero de clientes y
          mejorar tu visibilidad en la web, <span
            class="text-primary font-semibold">necesitas una página web</span
          >
        </p>
        <div class="mt-10">
          <SocialLinks />
        </div>
        <div
          class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6 md:justify-normal"
        >
          <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Empezar</span
            >
          </a>
          <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-primary dark:text-white"
              >Saber más</span
            >
          </a>
        </div>
      </div>
      <div class="w-[500px] hidden lg:flex h-[400px]">
        <img
          class="w-full h-full object-center object-contain"
          src="/images/hero.png"
          alt=""
        />
      </div>
    </div>
  </Container>
</div>
