---
import CardServices from "./CardServices.astro";
import Container from "./Container.astro";
---

<Container>
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    <CardServices title="Diseño web" text="Creamos y desarrollamos sitios web profesionales para su empresa y/o servicios. Tiendas online, portales de noticias, catálogos de productos, sitios deportivos, institucionales, personales, landing pages, blogs... Registro de dominio con su marca y mucho más." src="https://cdn.lordicon.com/rehjpyyh.json" state="morph-sea"/>
    <CardServices title="Tiendas online" text="Diseñamos tiendas online totalmente autogestionables y adaptables a todos los dispositivos móviles. ¡Incremente sus ventas en Internet de forma simple y eficaz! Incluye productos ilimitados, carritos de compras, pagos con tarjetas y cupones de descuento..."src="https://cdn.lordicon.com/odavpkmb.json" state="morph-sea" />
    <CardServices title="Landing page" text="Una landing page o página de aterrizaje se utiliza para un objetivo concreto como vender un producto, lanzar una oferta, ofrecer un servicio específico, conseguir seguidores en las redes sociales, obtener direcciones de correo electrónico, etc. Diseñamos landing pages modernas y de alto impacto al mejor precio." src="https://cdn.lordicon.com/wzwygmng.json" state="morph-sea" />
    <CardServices title="Mantenimiento web" text="Realizamos el mantenimiento de su sitio web. Actualizaciones del sistema, plantilla y plugins. Realizamos backups de los archivos del sitio y la base de datos. Agregamos contenido o realizamos modificaciones." src="https://cdn.lordicon.com/wuvorxbv.json" state="in-dynamic" />
    <CardServices title="Todo incluido" text="Ofrecemos una solución integral para su sitio web para que no tenga que preocuparse por nada. Página web incluida, registro y renovación de dominio, hosting incluido, mantenimiento incluido." src="https://cdn.lordicon.com/vcuhguff.json" state="hover-wink" />
    <CardServices title="Redes sociales" text="Creamos y gestionamos la imagen de su empresa en las redes sociales. Configuramos y diseñamos la imagen de portada y perfil, realizamos publicaciones (imagen y redacción), anuncios, sorteos, informes, etc." src="https://cdn.lordicon.com/wzrwaorf.json" state="hover-conversation-alt" />
  </div>
</Container>
