---
import MdiFacebook from "./icons/MdiFacebook.astro";
import MdiEmail from "./icons/MdiEmail.astro";
import MdiInstagram from "./icons/MdiInstagram.astro";
---

<div class="flex z-20">
  <div class="flex items-center text-3xl lg:text-4xl gap-2 text-white">
    <a
      href="https://flowcv.com/resume/pqls7i3bt6"
      target="_blank"
      rel="noopener noreferrer"
    >
      <MdiInstagram
        class="transition ease-in-out hover:text-primary duration-300"
      />
    </a>
    <a
      href="https://flowcv.com/resume/pqls7i3bt6"
      target="_blank"
      rel="noopener noreferrer"
    >
      <MdiFacebook
        class="transition ease-in-out hover:text-primary duration-300"
      />
    </a>
    <a
      href="https://flowcv.com/resume/pqls7i3bt6"
      target="_blank"
      rel="noopener noreferrer"
    >
      <MdiEmail
        class="transition ease-in-out hover:text-primary duration-300"
      />
    </a>
  </div>
</div>
