---
import Cloud from "./Cloud.astro";
import Container from "./Container.astro";
---

<section id="workingprocess" class="text-gray-600 body-font relative">
  <Container>
    <section class="body-font">
      <h3 class="text-3xl md:text-6xl text-center text-title font-bold pt-7 md:pt-12">¿Cómo trabajamos?</h3>
      <div class="container pt-14 pb-2 mx-auto">
        <div
          class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col"
        >
          <div
            class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-indigo-400 bg-primary flex-shrink-0"
          >
          <p class="text-blue-950 text-6xl font-bold">1</p>
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-title text-lg title-font font-medium mb-2">
              Recopilamos información
            </h2>
            <p class="leading-relaxed text-base text-text">
                Antes de comenzar, investigamos y recopilamos datos esenciales para entender las necesidades del proyecto.
            </p>
          </div>
        </div>
        <div
          class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col"
        >
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-title text-lg title-font font-medium mb-2">
              Planificamos el protecto
            </h2>
            <p class="leading-relaxed text-base text-text">
                Establecemos objetivos, asignamos recursos y creamos un plan detallado para garantizar un desarrollo eficiente.
            </p>
          </div>
          <div
            class="sm:w-32 order-first sm:order-none sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full text-indigo-400 bg-primary flex-shrink-0"
          >
            <p class="text-blue-950 text-6xl font-bold">2</p>
          </div>
        </div>
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
          <div
            class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-indigo-400 bg-primary flex-shrink-0"
          >
          <p class="text-blue-950 text-6xl font-bold">3</p>
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-title text-lg title-font font-medium mb-2">
              Desarrollamos y programamos
            </h2>
            <p class="leading-relaxed text-base text-text">
                Transformamos los requisitos en soluciones concretas mediante diseño y codificación experta.
            </p>
          </div>
        </div>
        <div
          class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col"
        >
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-title text-lg title-font font-medium mb-2">
              Testeamos y entregamos
            </h2>
            <p class="leading-relaxed text-base text-text">
                Realizamos pruebas exhaustivas para garantizar la calidad y luego entregamos el proyecto al cliente.
            </p>
          </div>
          <div
            class="sm:w-32 order-first sm:order-none sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full text-indigo-400 bg-primary flex-shrink-0"
          >
          <p class="text-blue-950 text-6xl font-bold">4</p>
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"
              ></path>
            </svg>
          </div>
        </div>
        <a
            href="/#formcontact"
            class="relative flex h-11 w-full items-center justify-center px-10 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max mx-auto"
          >
            <span class="relative text-base font-semibold text-white"
              >Empezar</span
            >
          </a>
      </div>
    </section>
  </Container>
</section>

<style>
  .loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed#444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
}

.loader::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed#444;
  box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #fff;
}

.loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: seagreen;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>